 <!-- Okta Sign in Widget CSS -->
<link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.4.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet">
<link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.4.0/css/okta-theme.css" type="text/css" rel="stylesheet">
<header>
	<nav class="navbar navbar-default  navbar-fixed-top">
    	<div class="container-fluid">
	      	<div class="navbar-header">
	       		<a class="navbar-brand" href="#/">
	          		<img src="https://www.okta.com/sites/all/themes/Okta/images/logo.svg" height="100%" width="100%"/>
	        	</a>
	      	</div>
  		</div>
	</nav>
</header>

<!-- Okta Sign in Widget -->
<center>
	<br><br>
	<my-widget>
		<button ng-click="login()" ng-show="!widget">Login</button>
		<div id="okta-login-container"></div>
	</my-widget>
</center>
<style>
body {
    background-image: url("images/photo_bg.jpg");
}
</style>