<header>
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	            <a class="navbar-brand" href="#/">
          			<img src="./views/assets/okta_logo.png" height="20px" width="70px"/>
	            </a>
	        </div>
          	<!-- Right Justified Nav -->
          	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            	<ul class="nav navbar-nav navbar-right">
              		<li> <a href="#/" style="font-size:20px;">Home</a></li>
              		<li ng-if="!session"> <td style="padding:30px;"> <a href="#/login" ng-click="signout()" style="font-size:20px;">Login</a></li>
              		<li ng-if="session"> <td style="padding:30px;"> <a href="#/login" ng-click="signout()" style="font-size:20px;">Sign Out</a></li>
            	</ul>
          	</div>
        </div>
    </nav>
</header>

<div class="row" ng-if="auth">
	<div class="col-md-2"><br />
		<div class="affix">
			<div class="btn-group-vertical" ng-if="session">
		     	<button type="button" class="btn btn-lg btn-primary" ng-click="getTokens(auth)" ng-if="!idToken || !accessToken">Get Tokens</button>
			  	<button type="button" class="btn btn-lg btn-success" ng-click="refreshSession()">Refresh Session</button>
			  	<button type="button" class="btn btn-lg btn-danger" ng-click="closeSession()">Close Session</button>
			</div>
			<br /><br /><br />
			<div class="btn-group-vertical" ng-if="session">
		     	<button type="button" class="btn btn-lg btn-primary" ng-if="idToken" ng-click="renewIdToken()">Renew ID Token</button>
			  	<button type="button" class="btn btn-lg btn-info" ng-if="idToken" ng-click="decode(idToken.idToken)">Decode ID Token</button>
			  	<button type="button" class="btn btn-lg btn-danger" ng-if="accessToken" ng-click="apiCall(accessToken.accessToken)">Call External API</button>
			</div>
			<br /><br /><br />
			<div ng-show="img && session" id="imgAnchor">
				<img ng-src="{{img}}" class="img-rounded"><br /><b>{{imgName}}</b>
			</div>
			<button type="button" class="btn btn-lg btn-info" ng-if="!session" ng-click="signout()">Re-Authenticate</button>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-9">
		<h3 id="userResponseAnchor">
			User Response
			<span class="label label-primary pull-right" ng-if="session">Active Session</span>
			<span class="label label-warning pull-right" ng-if="!session">Closed Session</span>
		</h3>
	  	<pre><code>{{auth | json}}</code></pre>
	  	<h3 ng-if="idToken" id="userInfoAnchor">ID Token<br />
	  		<pre><code>{{idToken | json}}</code></pre></h3>
	  	<h3 ng-if="accessToken">Access Token
	  		<pre><code>{{accessToken | json}}</code></pre></h3>
	  	<h3 ng-if="sessionObject" id="sessionAnchor">Session Info
	  	<pre><code>{{sessionObject | json}}</code></pre></h3>
	  	<h3 ng-if="decodedIdToken" id='decodeAnchor'>Decoded ID Token
	  		<pre><code>{{decodedIdToken | json}}</code></pre></h3>
	</div>
</div>

<div ng-if="!auth">
	<br />
	<h3> Please <a href="#/login"> Sign in to continue</a></h3>
</div>