<header>
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <a class="navbar-brand" href="#/">
                <img src="https://www.okta.com/sites/all/themes/Okta/images/logo.svg" height="100%" width="100%"/>
              </a>
          </div>
        </div>
    </nav>
</header>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="well" style="background:none;">
      <center>
        <div class="page-header"><h1>Sign In</h1></div>
        <form>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="E-mail" ng-model="user.email" /><br />
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password" /><br />
          </div>
          <br />
          <input class="btn btn-primary btn-lg" type="submit" ng-click="authenticate(user)" value="Sign In" />
        </form>
      </center>
      <pre ng-if="error" style="color:red">Error = {{error | json}}</pre>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
